body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(248, 223, 160);
    background-size: cover;
    background-position: center;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(67, 139, 190);
    display: flex;
    justify-content: center;
}

.box {
    color: rgb(19, 28, 128);
    background-color: rgb(161, 199, 231);
    padding: 15px;
    border: 2px solid rgb(187, 209, 223);
    flex: 1;
    text-align: center;
}

.content {
    margin-top: 60px;
}

header {
    padding: 170px;
    background-image: url('/img/background4-1.jpg');
    background-size: cover;
    text-align: center;
    color: rgb(2, 2, 2);
    background-color: rgb(240, 154, 27);
}

.team {
    margin: 50px 0;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.member {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.member img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
